html {
  font-family: sans-serif;
}

body {
  margin: 0;
  text-align: center;
  background-color: #322e2d;
  color: #f6f0ee;
}

header {
  color: #efa82e;
}

header p {
  font-size: 1.25em;
}

main {
  width: 960px;
  margin: auto;
}

#logo {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  margin-top: 2rem;
}

a {
  color: #fee389;
}
